# The base URL of the Taskify Express API server.
# For iOS Simulator or Web: http://localhost:3000
# For Android Emulator: http://10.0.2.2:3000
# For Real Mobile Devices: http://<YOUR_LOCAL_IP>:3000
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000
